:root {
  --bg_blue: #4c96d7;
  --secondary-color: #333;
  --White: white;
  --whitesmoke: whitesmoke;
  --black: black;
  --red:red;
}

/* Styles all sections */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

#wrapper {
  background-color: var(--whitesmoke);
}

section {
  padding: 20px;
}
h1 {
  text-align: left;
}

/* style of Message*/
.notice{
  text-align: left;
  color: var(--red);
  list-style-type:disc;
  font-size: 20px;
  margin-left: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whitesmoke);
  color: var(--black);
  padding: 10px 20px;
}

.siteName a {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

#tools a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

main {
  background-color: var(--whitesmoke);
}

/* Navigation */
nav {
  background-color: var(--black);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
/*
nav ul li {
  padding: 10px 10px;
  font-size: 18px;
  color: var(--White);
}
*/

nav ul li a {
  color: var(--White);
  text-decoration: none;
  padding: 15px 15px;
  transition: background-color 0.3s ease;
}

nav ul li:hover {
  background-color: var(--bg_blue);
  color: var(--White);
}


ul.custom-bullet li {
  margin-right: 0;
  margin-bottom: 10px;
}

ul.custom-bullet {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Picture Section*/
.picture-section {
  position: relative;
  text-align: center;
  background-color: var(--whitesmoke);
}

.picture-section img {
  max-width: 100%;
}

.section.picture-section {
  grid-column: span 2;
  text-align: center;
}

/* delorean Own today */
.OwnToday {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: var(--bg_blue);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  padding: 5px;
}

.OwnToday h2, .OwnToday a {
  margin: 2px;
}

.OwnToday a {
  /* display: block;*/
  transition: filter 0.3s ease;
}

.OwnToday a:hover img {
  filter: brightness(80%);
}

/* Second box - Upgrades and Reviews */

.Secondbox {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  */
  gap: 20px;
  background-color: var(--whitesmoke);
}

.section.upgrades-section .section.review-section {
  width: 90%;
}

.section.upgrades-section {
  order: 1;
}

.section.review-section {
  order: 2;
}

/* Upgrades and Reviews section */
.review-section li {
  list-style-type: disc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 20px;
}

.upgrades-section .review-section {
  background-color: var(--whitesmoke);
}

.upgrade-container {
  display: flex;
  flex-wrap: wrap;
}

.upgrade-item {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.upgrade-item a {
  display: block;
  text-align: center;
  color: var(--black);
  text-decoration: none;
}

.blue-box {
  background-color: var(--bg_blue);
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.blue-box img {
  max-width: 100%;
  height: auto;
}


/* Vehicle details */

.vehicle-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid var(--White);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.vehicle-image {
  margin-bottom: 20px;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 20px;
}

footer p {
  margin: 0;
}


@media screen and (min-width: 600px) {
  body {
    margin: 20px auto;
    padding: 0px;
    max-width: 80%;
    background-image: url("../images/site/checkerboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 10px solid #007bff;
    border-radius: 20px;
  }

}

@media only screen and (min-width: 560px) {
  nav li {
    display: flex;
    width: 25%;
    float: left;
  }

  .OwnToday img {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
  }

  .Secondbox {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
  }

  ul.custom-bullet li {
    flex: 1;
    margin-right: 10px;
  }
}