<!-- The Error page -->
<div class="error_page">
    <h1><%= title %> </h1>
    <p><%- message %></p>
    <%- messages() %>
    <div class="error-section">
        <p>Don't worry— It's probably our mistake.</p>
        <br>
        <p> We are working to improve </p>
        <br>
    </div>
</div>